%h2= services
- if result.empty?
  %p Nie znaleziono tłumaczeń
- else
  - result.each_pair do |word, translations|
    %p
      #{word}:
      - translations.each_with_index do |t, index|
        - t.gsub(/[^\w\sąćęłńóśźż]+/,'').split(' ').each do |item|
          = link_to item, "?q=#{item}", {:class => 'reverse-link', :alt => item}
        = (index == translations.size - 1 ? '' : ', ')
