#about
  #about-left
    %p
      <em>Dicteo</em> to nowe i dynamiczne przedsięwzięcie open source w polskim Internecie. Aplikacja ma na celu zestawienie wyników tłumaczeń wyrażeń polskich na angielskie, uzyskanych z różnych serwisów, świadczących taką usługę. Na chwilę obecną aplikacja obsługuje nastepujące źródła: <a href='http://pl.wiktionary.org/'>pl.wiktionary.org</a> i <a href='http://glosbe.com/'>glosbe.com</a>.
    %p
      Przystepując do realizacji zadania sporządziliśmy wstępną analizę projektową, z której wynikało, że produkt ma oferować prosty, dynamiczny interfejs, miłą dla oka szatę graficzną oraz obsługiwać jak największą liczbę darmowych słowników internetowych.
      Implementacja została przeprowadzona w oparciu o metodologię <em>agile</em> (Scrum), ciągły kontakt z kientem i stosowanie technik <em>Test Driven Development</em>.
      Efektem końcowym jest w pełni funkcjonalna aplikacja webowa o otwartym kodzie źródłowym, stworzona z wykorzystaniem języka <em>Ruby</em>, frameworku <em>Ruby on Rails</em> i wzorca projektowego <em>MVC</em>.
    %p Cały projekt został zrealizowany w ramach praktyk w firmie <em>Ragnarson Sp. z. o. o.</em> przez praktykantów z Gdańska i Łodzi.
  #about-right
    %h1 Zespół:
    %ul
      %li
        = link_to 'Jan Borwin', 'https://github.com/janiuuuu'
      %li
        = link_to 'Mateusz Czerwiński', 'https://github.com/mrfustrr'
      %li
        = link_to 'Kosma Dunikowski', 'https://github.com/kdunee'
      %li
        = link_to 'Aleksander Gozdek', 'https://github.com/alexgozdek'
      %li
        = link_to 'Rafał Ośko', 'https://github.com/rekosko'
      %li
        = link_to 'Michał Podlecki', 'https://github.com/michalpodlecki'
    %p Naocznymi opiekunami przy realizacji projektu i odbywaniu praktyk byli:
    %h1 Mentorzy:
    %ul
      %li
        = link_to 'Grzegorz Kołodziejczyk', 'https://github.com/grk'
      %li
        = link_to 'Michał Kwiatkowski', 'https://github.com/mkwiatkowski'
