#about
  #about-left
    %p
      <em>Dicteo</em> to nowe i dynamiczne przedsięwzięcie Open Source'owe w polskim internecie. Aplikacja ma na celu tłumaczenie polskich słówek na angielski i przedstawienie wyników z różnych serwisów, które oferują darmowy dla każdego słownik internetowy. Narazie aplikacja obsługuje nastepujące serwisy: <a href='http://pl.wiktionary.org/'>pl.wiktionary.org</a> i <a href='http://glosbe.com/'>glosbe.com</a>.
    %p
      Przystepując do zrealizowania poleconego nam celu sporządziliśmy wstepną analizę projektową z której wynikało że aplikacja ma być prosta w obsłudze, dynamiczna, posiadała miła dla oka szate graficzną oraz obsługiwała jak najwięcej darmowych słowników internetowych.
      Etap produkcji był prowadzony na podstawie pracy według metodologii agile (Scrum), codziennym kontaktem z kientem, organizacji pracy w grupie każdego dnia i stosowania technik Test Driven Development.
      Efektem końcowym jest w pełni funkcjonalna aplikacja webowa z wykorzystaniem języka Ruby, framework'a Ruby on Rails i wzorca projektowego MVC, promujący nowy trend w internecie.
      Cały projekt był realizowany na podstawie odbycia praktyk w firmie Ragnarson Sp. z. o. o. przez praktykantów z Gdańska i Łodzi.
  #about-right
    %h1 Zespół:
    %ul
      %li
        = link_to 'Jan Borwin', 'https://github.com/janiuuuu'
      %li
        = link_to 'Mateusz Czerwiński', 'https://github.com/mrfustrr'
      %li
        = link_to 'Kosma Dunikowski', 'https://github.com/kdunee'
      %li
        = link_to 'Aleksander Gozdek', 'https://github.com/alexgozdek'
      %li
        = link_to 'Rafał Ośko', 'https://github.com/rekosko'
      %li
        = link_to 'Michał Podlecki', 'https://github.com/michalpodlecki'
    %p Naocznymi opiekunami przy realizacji projektu i odbywaniu praktyk byli:
    %h1 Mentorzy:
    %ul
      %li
        = link_to 'Grzegorz Kołodziejczyk', 'https://github.com/grk'
      %li
        = link_to 'Michał Kwiatkowski', 'https://github.com/mkwiatkowski'
