!!!
%html
  %head
    %title dict
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>"viewport", :content => "width=device-width"}
  %body
    #wrapper
      #header
        #header-inner
          = link_to image_tag("dicteo-logo.png", {:alt => "dict:", :id => "dict-logo"}), '/', {:id => "home-link"}
          #search-area
            %input{:type => "text", :name => "q", :id => "query-field", :class => "search", :placeholder => "Wyszukaj..."}
            %input{:type => 'button', :class => 'button', :id => 'search-button', :value => "Tłumacz"}
      #content
        = yield
      #footer
        #footer-inner
          = link_to 'About', :controller => "static", :action => "about"
      %a{:href => "https://github.com/Ragnarson/dict-app", :id => "github-ribbon"}
        = image_tag("github-ribbon.png", {:style => "position: absolute; top: 0; left: 0; border: 0;", :alt => "Fork me on GitHub"})
