!!!
%html
  %head
    %title Dicteo - wyszukiwarka tłumaczeń
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>"viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"}
    %meta{:charset => "utf-8"}
    %meta{:name=>"description", :content => "Dicteo.pl - polsko-angielski słownik online. Pozwala błyskawicznie tłumaczyć z wielu słowników jednocześnie. Projekt o otwartym kodzie źródłowym."}
    %meta{:name=>"keywords", :content => "słownik, poprawne słownictwo, polsko angielski, słowniki angielskiego, angielski, polski, wiktionary, tłumacz angielskiego, tłumaczenie angielskiego, tłumacz tłumaczenia, tłumaczeń, translator, english, polish, słowniki"}
  %body
    #wrapper
      #header
        #header-inner
          = link_to image_tag("dicteo-logo.png", {:alt => "dict:", :id => "dict-logo"}), '/', {:id => "home-link"}
          #search-area
            %input{:type => "text", :name => "q", :id => "query-field", :class => "search", :placeholder => "Wyszukaj..."}
            %input{:type => 'button', :class => 'button', :id => 'search-button', :value => "Tłumacz"}
      #content
        = yield
      #footer
        #footer-inner
          #footer-links
            = link_to 'Zgłoś uwagę', 'https://github.com/Ragnarson/dict-app/issues/'
            = link_to 'O nas', {:controller => "static", :action => "about"}, :class => "last-link"
          #footer-logos
            .footer-logo
              = link_to image_tag("shelly-logo.png"), 'https://shellycloud.com/'
            .footer-logo
              = link_to image_tag("ragnarson-logo.jpg"),'http://ragnarson.com/'
      %a{:href => "https://github.com/Ragnarson/dict-app", :id => "github-ribbon"}
        = image_tag("github-ribbon.png", {:style => "position: absolute; top: 0; left: 0; border: 0;", :alt => "Fork me on GitHub"})
    = javascript_include_tag "gauges" if Rails.env.production?
